@media only screen and (max-width: 37.5rem) {

  .githubHead {
    flex-direction: column;
  }

  .github--repo {
    flex-direction: column;
  }

  .social--media {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}