@media only screen and (max-width: 37.5rem) {

  .githubHead {
    flex-direction: column;
  }

  .github--repo {
    flex-direction: column;
  }

  .social--media {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .repos:not(:last-child) {
    margin-bottom: 2rem;
  }

  .gitBio {
    padding: 0 2rem;
  }
}