@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto+Condensed&family=Varela+Round&display=swap');


* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}
 
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: linear-gradient(to right bottom, #2193b0, #6dd5ed);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
}

.header {
  font-size: 4rem;
  letter-spacing: 4px;
  font-weight: bold;
  color: #663399;
  padding-top: 15rem;

}

.buscar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fffcdc;
  width: 33rem;
  height: 5rem;
  border-radius: 4rem;
  align-items: center;
  margin-top: 1rem;
}

.buscar--texto {
  display: flex;
}


.buscar--texto img {
  margin-left: .5rem;
}

.buscar--texto input {
  width: 20rem;
  font-size: 1.1rem;
  margin-left: .5rem;
  background-color: transparent;
  border: none;
  outline: none;
}


::placeholder {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 3px;
}

input {
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  outline: none;
}

input[type="text"] {
  font-size: 2rem;
  font-weight: 300;
}

.btn--buscar {
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #663399;
  color: white;
  cursor: pointer;
  border: none;
  transition: all .2s;
  font-size: 1.6rem;
  font-weight: 100;
  text-transform: uppercase;
}

.btn--buscar:hover {
  color: #ffff00;
  transform: translateY(-1px);
}

.btn--buscar:active {
  outline: none;
  transform: translateY(1px);
}

.apresentacao {
  max-width: 70rem;
  border-radius: 1rem;
  background-image: linear-gradient(to right bottom, #d9a7c7, #fffcdc);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  box-shadow: 0 2rem 6rem rgb(0, 0, 0, .3);
  opacity: 0;
  transition: opacity 1s;
}

.githubHead {
  width: 100%;
  margin: 2rem 1rem;
  display: flex;
  align-items: center;
}


.github--username a {
  text-decoration: none;
}

.github--nome {
  margin-left: .5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #663399;
}

.github--username {
  margin-left: 1rem;
  color: black;
  font-size: 1.4rem;
}

.foto--perfil img {
  margin-left: 1em;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

.gitBio {
  width: 100%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.github--bio {
  font-size: 2rem;
  color: #663399;
  font-weight: bold;
  margin-bottom: 2rem;
}

.github--repo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 2rem;
  margin-top: 2rem;
}

.repos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qtd--repo, .qtd--seguidores, .qtd--seguindo {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.repositorio, .seguidores, .seguindo {
  font-weight: bold;
  letter-spacing: 2px;
}

.social--media {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  margin: 2rem 2rem;
}

.local, .twitter, .portifolio, .empresa {
  display: flex;
  align-items: center;
  padding: 1rem;

}

.local img, .twitter img, .portifolio img, .empresa img {
  margin-right: .3rem;

}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 2rem;
}

.footer__text {
  font-size: 2rem;
  
}

.footer__text a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #663399;
  margin-left: 1rem;
}



.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  overflow: hidden;
}

.modal {
  max-width: 50rem;
  height: 30rem;
  background-color: #fffcdc;
  box-shadow: 0 2rem 4rem rgba(0,0,0,.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__text {
  font-size: 2rem;
  margin: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 2rem;
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 100px;
  background-color: #663399;
  color: #fff;
  transition: all .2s;

}

.btn-modal:hover {
  transform: translateY(-1px);
}

.btn-modal:active {
  transform: translateY(1px);

}

