@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto+Condensed&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}
 
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: cadetblue;
  font-family: 'Roboto Condensed', sans-serif;

}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
}

.header {
  font-size: 3em;
  letter-spacing: 4px;
  font-weight: bold;
  color: rebeccapurple;
  margin-top: 10rem;
}

.buscar {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  width: 30rem;
  height: 3rem;
  border-radius: 10rem;
  align-items: center;
  margin-top: 1rem;
}


.buscar--texto img {
  margin-left: .5rem;
}

.buscar--texto input {
  width: 15rem;
  font-size: 1.1rem;
  margin-left: .5rem;
  background-color: antiquewhite;
  border: none;
  outline: none;
}


::placeholder {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
}

input {
  font-family: 'Roboto Condensed', sans-serif;
}

input[type="text"] {
  font-size: 2rem;
}

.btn--buscar {
  font-weight: bold;
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-right: 1rem;
  background-color: rebeccapurple;
  color: white;
  cursor: pointer;
  border: none;

  font-size: 1rem;
}

.btn--buscar:hover {
  color: yellow;
}

.apresentacao {
  max-width: 70rem;
  border-radius: 1rem;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  box-shadow: .5rem .5rem .5rem rgb(54, 55, 55);
  opacity: 0;


}

.githubHead {
  width: 100%;
  margin: 2rem 1rem;
  display: flex;
  align-items: center;

}


.github--username a {
  text-decoration: none;
}

.github--nome {
  margin-left: .5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: rebeccapurple;
}

.github--username {
  margin-left: 1rem;
  color: black;
  font-size: 1.4rem;
}

.foto--perfil img {
  margin-left: 1em;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

.gitBio {
  width: 100%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.github--bio {
  font-size: 2rem;
  color: rebeccapurple;
  font-weight: bold;
  margin-bottom: 2rem;
}

.github--repo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 2rem;
  margin-top: 2rem;
}

.repos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qtd--repo, .qtd--seguidores, .qtd--seguindo {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.repositorio, .seguidores, .seguindo {
  font-weight: bold;
  letter-spacing: 2px;
}

.social--media {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  margin: 2rem 2rem;
}

.local, .twitter, .portifolio, .empresa {
  display: flex;
  align-items: center;
  padding: 1rem;

}

.local img, .twitter img, .portifolio img, .empresa img {
  margin-right: .3rem;
}

